{% extends 'lib/base.html' %}

{% load static %}

{% block keywords %} {{ catname }} {% endblock %}
{% block pagetitle %} {{ catname }} -Sadegh Rezaei {% endblock %}


{% block content %}
<!-- Navigation-->
{% include 'lib/navigation.html' %}
<!-- Page Content-->
<div class="container-fluid p-0"> 
    <!-- Section -->
    <section class="resume-section" >
        <div class="resume-section-content">            
            <h2 class="mb-5"><a style="color:#999999; font-size:4rem ;" >{{ catname }}</a></h2>
            <div class ="mytagpage" style="min-width: 100px; min-height: 100px; direction: ltr;">
                {% for the_tag in list_tag %}
                    <a href="{% url 'tag' catname|slugify the_tag.name %}" class="subheading"><h4 style="display: inline; font-size: 1.5rem; font-weight: 500;">#{{ the_tag.name }}</h4></a><span style="color:#ffffff;"> - </span>
                {% endfor %}
                <br /><br />
            </div>
            {% for the_post in posts %}
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5 mycol">
                    <div class="flex-grow-1" >
                        <a href="{% url 'post-details' the_post.url %}"><h3 class="mb-0" dir="rtl" style="text-transform: lowercase; font-size: 1.4rem; font-family: samim;" > {{ the_post.title }} </h3></a>
                        <div style="padding-top:1px;"> 
                        {% for the_tag in the_post.tag.all %}
                            <span style="color:#ffffff;">-</span><a href="{% url 'tag' catname|slugify the_tag.name %}" class="subheading" ><h4 class="mb-3" style="font-weight: 500; display: inline;">#{{ the_tag.name }} </h4></a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>     
    </section>
    <hr class="m-0" />
</div>
{% endblock %}